<h1>Welcome!</h1>

<h2>Are you ready to play "Get Trumped"?</h2> 
<h3>When you choose an issue, you will see a recent quote from one of the 2016 Presidential candidates. If you are lucky, you might get "Trumped", but you could also be "Hit by Hillary" or "Bush Wacked"!</h3>


<p>
	Please click on one of the current issues.
</p>
 
<ul>
<% @issues.first(10).each do |issue| %>
	<p>
		<strong><%= link_to issue.name, issue, class: "my-btn my-btn-primary" %></strong>
	</p>
	<% end %>
</ul>

<%= render 'footer' %>




